<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="minor, enquete, vragenlijst">
    <meta name="description" content="vragenlijst minor web">
    <title>enquete minor web-development</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Enquete Minor Web</h1>
    </header>

    <main>
        <form method="POST" action="/" >

      <fieldset>
        <legend>persoonsgegevens</legend>
            <h2> Voornaam + Achternaam </h2>
            <input type="text" placeholder="Gwen Versteegh" id="naam" name="naam" aria-label="voornaam en achternaam" required>

            <h2> Studentennummer </h2>
            <input type="text" placeholder="1234567" id="nummer" name="nummer" aria-label="studentennummer" required>
      </fieldset>

    <!-- --------------------------- web app from scratch ----------------------------------------- -->
    <fieldset>
        <legend> Web App From Scratch </legend>

        <h2> Naam docent(en) </h2>
            <input type="text" placeholder="Robbert Spier, ..." id="docentenvak1" name="docentenvak1" aria-label="docenten web app from scratch" required>

        <h2> Periode van het vak </h2>
            <label>van</label>
            <input type="date" id="vak1start" name="vak1start" aria-label="begin datum" required>
            <label>t/m</label>
            <input type="date" id="vak1eind" name="vak1eind" aria-label="eind datum" required>



        <h2> Hoe moeilijk was de lesstof? </h2>
        <section>
            <label>1</label>
                <input type="radio" id="WAFS-lesstof-1" name="WAFS-lesstof" value="Zeer makkelijk" aria-label="radiobutton 1 zeer makkelijk" required>
                <input type="radio" id="WAFS-lesstof-2" name="WAFS-lesstof" value="Makkelijk" aria-label="radiobutton 2 makkelijk" required>
                <input type="radio" id="WAFS-lesstof-3" name="WAFS-lesstof" value="Normaal" aria-label="radiobutton 3 normaal" required>
                <input type="radio" id="WAFS-lesstof-4" name="WAFS-lesstof" value="Best moeilijk" aria-label="radiobutton 4 best moeilijk" required>
                <input type="radio" id="WAFS-lesstof-5" name="WAFS-lesstof" value="Heel erg moeilijk" aria-label="radiobutton 5 heel erg moeilijk" required>
            <label>5</label>   
        </section>

        <h2> Hoe goed was de uitleg? </h2>
        <section>
            <label>1</label>
                <input type="radio" id="WAFS-uitleg-1" name="WAFS-uitleg" value="Heel erg slecht" aria-label="radiobutton 1 heel erg slecht" required>
                <input type="radio" id="WAFS-uitleg-2" name="WAFS-uitleg" value="Slecht" aria-label="radiobutton 2 slecht" required>
                <input type="radio" id="WAFS-uitleg-3" name="WAFS-uitleg" value="Normaal" aria-label="radiobutton 3 normaal" required>
                <input type="radio" id="WAFS-uitleg-4" name="WAFS-uitleg" value="Best goed" aria-label="radiobutton 4 best goed"required>
                <input type="radio" id="WAFS-uitleg-5" name="WAFS-uitleg" value="Heel erg goed" aria-label="radiobutton 5 heel erg goed" required>
           <label>5</label> 
        </section>
 

        <h2> Hoe goed snap je het? </h2>
        <section>
            <label>1</label>
                <input type="radio" id="WAFS-snap-1" name="WAFS-snap" value="Heel erg slecht" aria-label="radiobutton 1 heel erg slecht" required>
                <input type="radio" id="WAFS-snap-2" name="WAFS-snap" value="Slecht" aria-label="radiobutton 2 slecht"required>
                <input type="radio" id="WAFS-snap-3" name="WAFS-snap" value="Normaal" aria-label="radiobutton 3 normaal"required>
                <input type="radio" id="WAFS-snap-4" name="WAFS-snap" value="Best goed" aria-label="radiobutton 4 best goed" required>
                <input type="radio" id="WAFS-snap-5" name="WAFS-snap" value="Heel erg goed" aria-label="radiobutton 5 heel erg goed" required>
             <label>5</label> 
        </section> 

    </fieldset>
  <!-- --------------------------- css to the rescue ----------------------------------------- -->
    <fieldset>
        <legend> CSS to the rescue </legend>


        <h2> Naam docent(en) </h2>
            <input type="text" placeholder="Robbert Spier, ..." id="docentenvak2" name="docentenvak2" aria-label="docenten CSS to the rescue" required>

        <h2> Periode van het vak </h2>
            <label>van</label>
            <input type="date" id="vak2start" name="vak2start" aria-label="begin datum" required>
            <label>t/m</label>
            <input type="date" id="vak2eind" name="vak2eind" aria-label="einddatum" required>


         <h2> Hoe moelijk was de lesstof? </h2>
         <section>
            <label>1</label>
                <input type="radio" id="CSS-lesstof-1" name="CSS-lesstof" value="Zeer makkelijk" aria-label="radiobutton 1 zeer makkelijk" required>
                <input type="radio" id="CSS-lesstof-2" name="CSS-lesstof" value="Makkelijk"  aria-label="radiobutton 2 makkelijk" required>
                <input type="radio" id="CSS-lesstof-3" name="CSS-lesstof" value="Normaal" aria-label="radiobutton 3 normaal" required>
                <input type="radio" id="CSS-lesstof-4" name="CSS-lesstof" value="Best moeilijk" aria-label="radiobutton 4 best moeilijk" required>
                <input type="radio" id="CSS-lesstof-5" name="CSS-lesstof" value="Heel erg moeilijk" aria-label="radiobutton 5 heel erg moelijk" required>
            <label>5</label>   
        </section>

    <h2> Hoe goed was de uitleg? </h2>
    <section>
        <label>1</label>
            <input type="radio" id="CSS-uitleg-1" name="CSS-uitleg" value="Heel erg slecht" aria-label="radiobutton 1 heel erg slecht" required>
            <input type="radio" id="CSS-uitleg-2" name="CSS-uitleg" value="Slecht" aria-label="radiobutton 2 slecht" required>
            <input type="radio" id="CSS-uitleg-3" name="CSS-uitleg" value="Normaal" aria-label="radiobutton 3 normaal" required>
            <input type="radio" id="CSS-uitleg-4" name="CSS-uitleg" value="Best goed" aria-label="radiobutton 4 best goed" required>
            <input type="radio" id="CSS-uitleg-5" name="CSS-uitleg" value="Heel erg goed" aria-label="radiobutton 5 heel erg goed" required>
         <label>5</label>
    </section>  

    <h2> Hoe goed snap je het? </h2>
    <section>
        <label>1</label>
            <input type="radio" id="CSS-snap-1" name="CSS-snap" value="Heel erg slecht" aria-label="radiobutton 1 heel erg slecht" required>
            <input type="radio" id="CSS-snap-2" name="CSS-snap" value="Slecht" aria-label="radiobutton 2 slecht" required>
            <input type="radio" id="CSS-snap-3" name="CSS-snap" value="Normaal" aria-label="radiobutton 3 normaal" required>
            <input type="radio" id="CSSS-snap-4" name="CSS-snap" value="Best goed" aria-label="radiobutton 4 best goed" required>
            <input type="radio" id="CSSS-snap-5" name="CSS-snap" value="Heel erg goed" aria-label="radiobutton 5 heel erg goed" required>
         <label>5</label>  
    </section>

    </fieldset>

    <input type="submit" value="Versturen" aria-label="Button om de enquete te versturen">

</form>

</main>

<footer></footer>

</body>

<script src="/script.js"> </script>
</html>