* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main form > section {
    margin: 1em;
    padding: 2em;
    border-radius: 3em;
    box-shadow: 5px 5px 10px #1EB2E8;
    background-image: url(img/Artboard\ 2.png);
    background-size: cover;
}

header {
    background-image: url(img/Artboard\ 2.png);
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0.5em;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

h2 {
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    text-align:center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;


}

h3 {
    color: black;
    margin: 0.5em 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
}

label {
    color: black;
}

main form > input {
    background-color:#00b4e9;
    padding: 1em 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 1em;
}
