* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main > section {
    margin: 1em;
    padding: 2em;
    border-radius: 3em;
    box-shadow: 5px 5px 10px #1EB2E8;
    background-image: url(img/Artboard\ 2.png);
    background-size: cover;


}

header {
    background-image: url(img/Artboard\ 2.png);
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0.5em;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

h2 {
    margin: 1em;
    text-align:center;
    color: black;
    margin: 0.5em;

}

h3 {
    color: black;
    margin: 0.5em;

}

label {
    color: black;
}
